{% extends "blog/base.html" %}
{% load static %}
 
{% block title %}

{% endblock %}

{% block body %}

<div class="container">
<div class="row">
    <div class="col-sm-2">
        <img class="avarsm" src="{{ object.author.profile.image.url }}" alt="">
    </div>
    <div class="col-sm-10">
        <div class="row">
            <div class="col-sm-2">
                {{ object.author }}
            </div>
            <div class="col-sm-10">
                {{ object.date_posted|date:"F d, Y" }}
            </div>
            <div>
                {% if object.author == user %}
                    <a href="{% url 'post-delete' object.id %}">Delete</a>
                    <a href="{% url 'post-update' object.id %}">Update</a>
                {% endif %}
            </div>
            <hr>
            
        </div>
        <div class="row">
            <a href="{% url 'post-detail' post.id %}"><h2>{{object.title}}</h2></a>
            
        </div>
        <div class="row">
            {{ object.content }}
        </div>

    </div>
</div>
<br>

</div>
{% endblock %}